.container {
    background-color: whitesmoke;
    height: 300px;
    width: 300px;
}
.container-2 {
    background-color: teal;
    height:150px;
    with: 150px;
}
/* @media (max-width: 600px) {
    .container {
        background-color: red;
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 600px) {
    .box {
        background-color: violet;
    }
} */
@media screen and (min-width: 600px) and (max-width: 900px) {
    .container {
        height: 250px;
        width: 250px;
        background-color: yellowgreen;
    }
}
/* .container:hover {
    background-color: purple;
    cursor: pointer;
} */

.container:hover, .container-2:hover {
    border: 3px solid red;
}